<% provide(:title, 'favorites') %>
<h1><%= @user.name + '\'s favorites' %></h1>
<% @user.favorite.favorite_items.each do |item| %>
  <div><%= item.product_id %>|<%= item.favorite_id %>|
    <%= link_to 'delete', favorite_item_destroy_path(favorite_item_id: item.id),
                method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
<% end %>
<% if @user.favorite.favorite_items.count == 0 %>
  <div>click <%= link_to 'here', '#'%> to see all of the products</div>
<% end %>