<% provide(:title, 'Shop') %>

<h1><%= @shop.name %></h1>

<h2><%= @shop.description %></h2>


<% if @shop.products.count == 0 %>
  <div>
    it seems that you don't have any products,
    <%= link_to "click here", create_product_get_path(shop_id: @shop.id) %> to create you product!
  </div>
<% else %>
  <% if @shop.products.any? %>
    <div class="container-fluid">
      <div class="row table_head">
        <div class="col-md-3">
          product id
        </div>
        <div class="col-md-3">
          name
        </div>
        <div class="col-md-3">
          description
        </div>
        <div class="col-md-3">
          price
        </div>
      </div>
      <%= render @products %>
    </div>
    <%= will_paginate @products %>
  <% end %>
  <!-- 这里为seller访问shop和product增加了专门的路由，用于创建，对于一般用户，这里不应显示 -->

  <div><%= link_to '<button class="btn btn-success">create you product</button>'.html_safe, create_product_get_path(shop_id: @shop.id) %> </div>
<% end %>