<% provide(:title, 'shopping cart') %>
<h1><%= @user.name + '\'s shopping cart' %></h1>
<div>product name|price|amount</div>
<% @user.shopping_cart.shopping_cart_items.each do |item| %>
  <div><%= item.product.name %>|<%= item.product.price %>|<%= item.amount %>|
    <%= link_to '+', cart_item_amount_add_path(cart_item_id: item.id) %>|
    <%= link_to '-', cart_item_amount_subtract_path(cart_item_id: item.id) %>|
    <%= link_to 'delete', cart_item_destroy_path(cart_item_id: item.id), method: :delete,
                data: {confirm: 'Are you sure?'} %>
  </div>
<% end %>
<br/>
<% if @user.shopping_cart.shopping_cart_items.count > 0 %>
  <%= link_to 'buy them!', add_items_in_shopping_cart_to_order_path, method: :post %>
<% else %>
  <div>click <%= link_to 'here', '#'%> to see all of the products</div>
<% end %>
