<% provide(:title, '购物车') %>
<h1><%= @user.name + '的购物车' %></h1>

<div>
  <% if @user.shopping_cart.shopping_cart_items.any? %>
    <div class="container-fluid">
      <table class="table table-striped">
        <tr>
        <td class="col-md-4">
          <h3>商品名</h3>
        </td>
        <td class="col-md-4">
          <h3>商品价格</h3>
        </td>
        <td class="col-md-4">
          <h3>数量</h3>
        </td>
        </tr>
      <%= render @shopping_cart_items %>
      </table>
    </div>
    <%= will_paginate @shopping_cart_items %>
  <% end %>
</div>


<div class="container">
  <div class="row">
    <div>
      <% if @user.shopping_cart.shopping_cart_items.count > 0 %>
        <div class="jumbotron">
          <h3>购物车小计</h3>
          <br/>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">总商品数</h3>
            </div>
            <div class="panel-body">
              <%= @user.shopping_cart.shopping_cart_items.count %>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">总价格</h3>
            </div>
            <div class="panel-body">
              <% value_sum = 0 %>
              <% @user.shopping_cart.shopping_cart_items.each do |item| %>
                <% value_sum += item.amount * item.product.price %>
              <% end %>
              <%= value_sum %>
            </div>
          </div>
        </div>
        <div class="text-center">
          <%= link_to '<button class="btn btn-primary">购买全部</button>'.html_safe,
                      add_items_in_shopping_cart_to_order_path, method: :post %>
        </div>
      <% else %>
        <div class="jumbotron">
          <h1>Oops!</h1>
          <p>您的购物车似乎是空的，去看看正在发售的商品吧。</p>
          <p>您可以点击下面的按钮，返回主页，分类查看商品，我们有数十类商品供您选择，总有一款适合您！</p>
          <p>已经有想要的商品了？在导航栏的搜索框，输入商品名称搜搜看！</p>
          <br/>
          <br/>
          <br/>
          <div class="text-center">
            <%= link_to '<button class="btn btn-primary btn-lg">回到主页，查找商品</button>'.html_safe, root_path %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>