<% provide(:title, 'shopping cart') %>
<h1><%= @user.name + '\'s shopping cart' %></h1>

<div>
  <% if @user.shopping_cart.shopping_cart_items.any? %>
    <div class="container-fluid ">
      <div class="row table_head">
        <div class="col-md-4">
          product
        </div>
        <div class="col-md-4">
          price
        </div>
        <div class="col-md-4">
          number
        </div>
      </div>
      <%= render @shopping_cart_items %>
    </div>
    <%= will_paginate @shopping_cart_items %>
  <% end %>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-offset-9">
      <button class="btn btn-success btn-lg">
        <% if @user.shopping_cart.shopping_cart_items.count > 0 %>
          <%= link_to 'buy them!', add_items_in_shopping_cart_to_order_path, method: :post %>
        <% else %>
          <div>click <%= link_to 'here', '#' %> to see all of the products</div>
        <% end %>
      </button>
    </div>
  </div>
</div>