<% provide(:title, "编辑用户") %>
<h1>更改个人信息</h1>

<div class="row forms">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', item:@user %>
      <%= f.label :name, "用户名"%>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "电子邮件" %>
      <%= f.email_field :email, class: 'form-control' %>

      <% if @user.character == 'buyer' %>
      <%= f.label :receiver_name, "收货人姓名" %>
      <%= f.text_field :receiver_name, class: 'form-control' %>

      <%= f.label :receiver_address, "收货地址" %>
      <%= f.text_field :receiver_address, class: 'form-control' %>

      <%= f.label :receiver_phone_number, "联系电话" %>
      <%= f.text_field :receiver_phone_number, class: 'form-control' %>
      <% end %>
      
      <%= f.label :password, "密码" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "确认密码" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.submit "保存更改", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
