<% provide(:title, '店铺列表') %>
<h1><%= @user.name + '的店铺列表' %></h1>
<% if @user.shops.count == 0 %>
  <div>
    it seems that you don't have any shops,
    <button class="btn"> <%= link_to "click here", create_shop_get_path %> to create you shop!</button>
  </div>
<% else %>
  <div class="container-fluid">

    <table class="table table-striped">
      <tr>
        <th class="col-md-2">店铺ID</th>
        <th class="col-md-4">店铺名称</th>
        <th class="col-md-4">店铺描述</th>
        <th class="col-md-2">操作</th>
      </tr>
      <%= render @shops %>
    </table>
  </div>
  <%= will_paginate @shops %>

  <div class="text-center">
    <%= link_to '<button class="btn btn-primary">创建店铺</button>'.html_safe, create_shop_get_path %>
  </div>
<% end %>