<% provide(:title, '报表') %>
<% if @user.character == 'buyer' %>>
  <div class="container">
    <div class="row">
      <div class='col-md-6'>
        <form class="form-group" method="post" action=<%= monthly_graph_path(params[:user_id]) %>>
          <div class='input-group date' id='datetimepicker3'>
            <input type='text' name="time" class="form-control"/>
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default">获取月购买量报表</button>
          </span>
          </div>
        </form>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker3').datetimepicker({
                  format: 'YYYY-MM'
              });
          });
      </script>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class='col-md-6'>
        <form class="form-group" method="post" action=<%= month_average_graph_path(params[:user_id]) %>>
          <div class='input-group date' id='datetimepicker4'>
            <input type='text' name="time" class="form-control"/>
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default">获取月均购买量报表</button>
          </span>
          </div>
        </form>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker4').datetimepicker({
                  format: 'YYYY'
              });
          });
      </script>
    </div>
  </div>
  <%= link_to "类别报表", category_graph_path(params[:user_id]) %>
<% end %>

<% if @user.character == 'seller' %>
  <div class="container">
    <div class="row">
      <div class='col-md-6'>
        <form class="form-group" method="post" action=<%= month_income_graph_path(params[:user_id]) %>>
          <div class='input-group date' id='datetimepicker5'>
            <input type='text' name="time" class="form-control"/>
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default">获取该月收入曲线</button>
          </span>
          </div>
        </form>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker5').datetimepicker({
                  format: 'YYYY-MM'
              });
          });
      </script>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class='col-md-6'>
        <form class="form-group" method="post" action=<%= year_income_graph_path(params[:user_id]) %>>
          <div class='input-group date' id='datetimepicker6'>
            <input type='text' name="time" class="form-control"/>
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default">获取该年收入曲线</button>
          </span>
          </div>
        </form>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker6').datetimepicker({
                  format: 'YYYY'
              });
          });
      </script>
    </div>
  </div>
  <%= link_to "类别报表", category_graph_path(params[:user_id]) %>
  <br>
  <%= link_to "您的商品销量排行", product_sales_ranking_path(params[:user_id]) %>
<% end %>













