<tr>
  <td class="col-md-2"><%= product.id %> </td>
  <td class="col-md-2"><%= product.name %></td>
  <td class="col-md-2"><%= product.description %> </td>
  <td class="col-md-2"><%= product.price %> </td>
  <td class="col-md-4">
    <%= link_to '<button class="btn btn-primary">查看详情</button>'.html_safe,
                product_path(product.id) %>
    <%= link_to '<button class="btn btn-danger">删除该商品</button>'.html_safe, product_path(product.id),
                method: :delete, data: {confirm: '您确定要删除吗?'} %>
    <form class="form-group" method="post" action=<%= product_monthly_graph_path(product.id) %>>
      <div class='input-group date' id='datetimepicker<%= product.id %>'>
        <input type='text' name="time" class="form-control"/>
        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">获取月销售量报表</button>
          </span>
      </div>
    </form>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker<%= product.id %>').datetimepicker({
                format: 'YYYY-MM'
            });
        });
    </script>
  </td>
</tr>
