<% provide(:title, '创建商品') %>
<h1>创建商品</h1>
<div class="row forms">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product, url: create_product_post_path, method: :post) do |f| %>
      <%= render 'shared/error_messages', item: @product %>

      <%= f.label :商品名 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :描述 %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :价格 %>
      <%= f.text_field :price, class: 'form-control' %>

      <%= f.label :种类 %>
      <%= f.select :category, Product::CATEGORY.invert %>
      <!-- the data base will transfer it, just pass it as string, and use regexp to check -->

      <%= f.submit "创建商品", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>