<% provide(:title, 'Create shop') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product, url: create_product_post_path, method: :post) do |f| %>
      <%= render 'shared/error_messages', item: @product %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>

      <%= f.label :category %>
      <%= f.text_field :category, class: 'form-control' %>
      <!-- the data base will transfer it, just pass it as string, and use regexp to check -->

      <%= f.submit "Create product", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>