<% provide(:title, '商品详情') %>
<h1>商品详情</h1>
<div class="container-fluid">
  <!--
  <div class="row table_head">
    <div class="col-md-2">商品ID</div>
    <div class="col-md-4">商品名</div>
    <div class="col-md-4"> description</div>
    <div class="col-md-2"> price</div>
  </div>
  <div class="row product">
    <div class="col-md-2"> <%= @product.id %> </div>
    <div class="col-md-4"> <%= @product.name %> </div>
    <div class="col-md-4">  </div>
    <div class="col-md-2"> <%= @product.price %></div>
  </div>
  -->
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">商品基础信息</h3>
    </div>
    <div class="panel-body" style="padding-left: 5%; padding-top: 3%;padding-bottom: 3%">
      <span class="label label-primary">商品ID</span> <%= @product.id %>
      <br/><br/>
      <span class="label label-primary">商品名</span> <%= @product.name %>
      <br/><br/>
      <span class="label label-primary">商品价格</span> <%= @product.price %>
      <br/>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">商品描述</h3>
    </div>
    <div class="panel-body">
      <p>
        <%= @product.description %>
      </p>
    </div>
  </div>
  <% if get_user_character == 'buyer' %>
    <div class="panel panel-default">
      <div class="panel-heading">操作选项</div>
      <div class="panel-body">
        <div class="col-md-4" style="padding-left: 10%">
          <%= link_to '<button class="btn btn-primary">添加到购物车</button>'.html_safe, add_to_shopping_cart_path, method: :post %>
        </div>
        <div class="col-md-4" style="padding-left: 10%">
          <%= link_to '<button class="btn btn-primary">添加到收藏夹</button>'.html_safe, add_to_favorite_path, method: :post %>
        </div>
        <div class="col-md-4" style="padding-left: 10%">
          <%= link_to '<button class="btn btn-success">立即购买！</button>'.html_safe, add_one_item_to_order_path, method: :post %>
        </div>
      </div>
    </div>
  <% end %>
</div>
