<% provide(:title, 'product') %>
<h1>Products#show</h1>
<div><%= @product.id %>|<%= @product.name %>|<%= @product.description %>|<%= @product.price %></div>
<%= link_to 'add it to your shopping cart!', add_to_shopping_cart_path, method: :post %>
<br/>
<%= link_to 'add it to your favorites!', add_to_favorite_path, method: :post %>