<tr>
  <td class="col-md-4"><%= shopping_cart_item.product.name %></td>
  <td class="col-md-4"><%= shopping_cart_item.product.price %></td>
  <td class="col-md-4">
    <%= link_to '<button class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>'.html_safe,
                cart_item_amount_add_path(cart_item_id: shopping_cart_item.id) %>
    <%= shopping_cart_item.amount %>
    <%= link_to '<button class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>'.html_safe, cart_item_amount_subtract_path(cart_item_id: shopping_cart_item.id) %>
    <%= link_to '<button class="btn btn-danger" style="margin-left: 3%">delete</button>'.html_safe, cart_item_destroy_path(cart_item_id: shopping_cart_item.id), method: :delete,
                data: {confirm: 'Are you sure?'} %>
  </td>
</tr>

